body{
   background-color:#C5D2FC;
    }
    hr
    {
    border-style: none;
    border-top-style: dotted;
    border-top-color: cyan;
    border-color:grey;
    border-width: 5px;
    width: 5%; 
   }




   
 